:root{
  --primary: #6cacbf;
  --secundary: #d1d1d1;
}


body {
  font-family: "Lato", sans-serif;
  background-color: var(--secundary)
}

.info-container {
  flex: 1;
  background-color: var(--primary);
  color: white;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  text-transform: capitalize;
}

/* Styles for the form */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

/* Styles for the input fields */
.number-input {
  padding: 10px;
  margin: 5px;
  background-color: #eeeeee;
  border: none;
  border-radius: 0;
  width: 200px;
  box-sizing: border-box;
}

/* Styles for the button */
.calculate-button {
  padding: 16px;
  margin: 10px;
  background-color: var(--primary);
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  width: 120px;
  cursor: pointer;
}

/* Styles for the button hover effect */
.calculate-button:hover {
  background-color: #0056b3;
}

/* Styles for the title of results */
#resultHeading {
  font-size: 32px;
  color: #ececec;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px 10px;
}

/* Styles for the result paragraphs */
#result p {
  font-size: 18px;
  color: #f1ebeb;
  margin-bottom: 5px;
}

p strong {
  font-weight: bold;
  font-size: 21px;
}

/* Styles for large screens (more than 600px wide) */
@media screen and (min-width: 601px) {
  .container {
    flex-direction: row;
    display: flex;
    width: 90%;
    margin: 70px auto;
    height: 80vh;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-right: 20px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Styles for small screens (mobile devices) */
@media screen and (max-width: 600px) {
  .form-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .number-input {
    font-size: 14px;
  }

  .calculate-button {
    padding: 8px;
    font-size: 14px;
  }

  .info-container {
    margin-right: 0;
    margin-top: 20px;
    text-align: center;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}
